@font-face {
    font-family: Mouse;
    src: url(../fonts/mouse.ttf);
}

@font-face {
    font-family: Campus;
    src: url(../fonts/campus.ttf);
}

@font-face {
    font-family: pwptext;
    src: url(../fonts/pwptext.ttf)
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 16px/1.25 Lato, Arial, Tahoma, Verdana, sans-serif;
	color: #848789;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.container {
    display: block;
    max-width: 1630px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 100;
    position: fixed;
    height: 100px;
    background: #fff;
    opacity: 0.9;
    top: 0;
}

.logo {
    width: 35%;
}

.pwptext {
    width: 65%;
}

h1 {
    font-family: pwptext;
    color: #000000;
    font-size: 32px;
}

.up-menu {
    width: 30%;
    text-align: center;
}

/*НАЧАЛО МЕНЮ*/

/*КОНЕЦ МЕНЮ*/

/*Кнопки МЕНЮ конец*/

main {
    margin-bottom: 100px;
}

.choice-d {
    display: flex;
}

.item {
    width: 49%;
    margin: 5px;
    /*margin-top: 100px;*/
    opacity: 0;
    transition: all 1.5s ease 0s;
}

.item._active {
    transform: translate(0px, 100px);
    opacity: 1;
}

.item button {
    font-size: 50px;
    width: 100%;
    max-width: 100%;
    font-size: 24px;
    height: 750px;
    max-height: 100%;
    background-image: url(../img/pracownik.jpg);
    background-color: #fff;
    border-radius: 25px;
    color: #fff;
    margin-left: 8px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.imagenew button{
    background-image: url(../img/collega.jpg);
    background-color: #fff;
}

.item button:hover {
    border-color: #000;
    border-width: 10px;
    cursor: pointer;
}

.sizeh {
    font-family: 'pwptext';
    font-size: 50px;
    color: #fff;
    box-shadow: 0 0 50px #000;
}

.weare {
    display: flex;
    margin: 50px;
    text-align: center;
}

.weare-photo {
    width: 100%;
}

.weare-text {
    text-align: center;
}

.weare-text h3 {
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    color: #3750a0;
}

.weare-text h5 {
    font-size: 20px;
    margin: 15px 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    line-height: 1.5;
}

.aboutline {
    display: flex;
    margin: 50px 50px;
}

.ab-photo {
    width: 50%;
}

.ab-photo img {
    width: 100%;
}

.ab-text {
    width: 50%;
    text-align: center;
}

.ab-text h3 {
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    color: #3750a0;
}

.ab-text h5 {
    font-size: 20px;
    margin: 15px 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    line-height: 1.5;
}

hr {
    color: #000;
    size: 7px;
    margin: 15px 0;
}

/*FOOTER*/

.footer {
    display: flex;
    width: 100%;
}

.logo-footer {
    width: 75%;
    margin-top: 50px;
}

.contacts {
    margin: 0 15px;
    width: 25%;
    color: #000;
}

.contacts h2 {
    font-family: pwptext;
    font-size: 25px;
}

.contacts ul li{
    margin: 10px 0;
    font-size: 20px;
    color: black;
}

.contacts ul li a{
    font-size: 20px;
    color: black;
}

/*FOOTER-END*/

@media (max-width: 1400px) {
    .choice-d {
        display: block;
    }

    .item {
        width: 100%;
        
    }

    .item button {
        background-image: url(../img/pracownik-media.jpg);
    }

    .imagenew button {
        background-image: url(../img/collega-media.jpg);
    }

    .item buttom:active {
        border-color: #fff;
        border-width: 10px;
        cursor: pointer;
    }

    main {
        margin-bottom: 115px;
    }
}